{% extends "base.html" %}

{% block title %}Records{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1>Records</h1>
    <hr>
    <h2>3x3x3 - 4.59s - SeungBeom Cho</h2>
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/yGZspKNJ59w" frameborder="0" gesture="media"></iframe>
    </div>

    <hr>
    <h2>2x2x2 - 0.49s - Maciej Czapiewski</h2>
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/U-rcPAsY5bY" frameborder="0" gesture="media"></iframe>
    </div>

    <hr>
    <h2>4x4x4 - 19.36s - Feliks Zemdegs</h2>
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/yGZspKNJ59w" frameborder="0" gesture="media"></iframe>
    </div>

    <hr>
    <h2>5x5x5 - 38.52s - Feliks Zemdegs</h2>
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/Y6E_3e0sNQY" frameborder="0" gesture="media"></iframe>
    </div>

    <hr>
    <h2>6x6x6 - 1:20.37 - Feliks Zemdegs</h2>
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/RrSGmPKRdr4" frameborder="0" gesture="media"></iframe>
    </div>

    <hr>
    <h2>7x7x7 - 2:06.73 - Feliks Zemdegs</h2>
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/yGZspKNJ59w" frameborder="0" gesture="media"></iframe>
    </div>

    <hr>
    <h2>Square-one - 5.73 - Charlie Stark</h2>
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/b0BOmx6t75A" frameborder="0" gesture="media"></iframe>
    </div>

    <hr>
    <h2>Skewb - 1.10 - Jonatan Kłosko</h2>
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/pxWwEltUgsc" frameborder="0" gesture="media"></iframe>
    </div>

    <hr>
    <h2>Megaminx - 29.93 - Juan Pablo Huanqui</h2>
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/jQTDwfP_Pr0" frameborder="0" gesture="media"></iframe>
    </div>

    <hr>
    <h2>Piraminx - 1.28 - Benjamin Kyle</h2>
    <div class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/cl04eFAdSdw" frameborder="0" gesture="media"></iframe>
    </div>
</div>

{% endblock %}